name: add_adoption
on:
    workflow_dispatch:
        inputs:
            slug:
                description: "Project defiliama slug"
                required: true
            chain:
                description: "Adoption chain"
                required: true
            txhash:
                description: "Adoption transaction hash"
                required: true
            proposalUri:
                description: "Adoption proposal uri"
            bugBounty:
                description: "Bug Bounty uri"
            force:
                description: "Force adoption addition"
                type: boolean

jobs:
    update_tvl:
        runs-on: ubuntu-latest
        name: "Add Adoption: ${{ github.event.inputs.slug }}"

        steps:
            - uses: actions/checkout@v4

            - uses: ./.github/actions/load-sops-secrets
              with:
                age_key: ${{ secrets.SOPS_AGE_KEY }}

            - uses: actions/setup-go@v5
              with:
                  go-version: 1.22.3
                  cache: true

            - run: go mod download

            - run: go build -o main cmd/main/main.go

            - name: Run the program
              run: |
                  ./main add-adoption \
                    --slug=${{ github.event.inputs.slug }} \
                    --chain=${{ github.event.inputs.chain }} \
                    --txhash=${{ github.event.inputs.txhash }} \
                    --adoptionProposalUri="${{ github.event.inputs.proposalUri }}" \
                    --bugBounty="${{ github.event.inputs.bugBounty }}" \
                    --force=${{ github.event.inputs.force }} \
                    --prod=true
