name: check_new_adoptions
on:
    workflow_dispatch:

    schedule:
       # Runs daily at 9:00 PM UTC (4:00 PM EST, 5:00 PM EDT)
        - cron: "0 21 * * *"

jobs:
    update_tvl:
        runs-on: ubuntu-latest
        name: "Check New Adoptions"

        steps:
            - uses: actions/checkout@v4

            - uses: ./.github/actions/load-sops-secrets
              with:
                age_key: ${{ secrets.SOPS_AGE_KEY }}

            - uses: actions/setup-go@v5
              with:
                  go-version: 1.22.3
                  cache: true

            - run: go mod download

            - run: go build -o main cmd/main/main.go

            - name: Run the program
              run: |
                  ./main check-new-adoptions \
                    --prod=true
