name: update_children
on:
    workflow_dispatch:

    schedule:
        # Runs daily at 10:25 AM UTC (5:25 AM EST)
        # Odd time used to avoid conflicts with other workflows
        - cron: "25 10 * * *"

jobs:
    update_children:
        runs-on: ubuntu-latest
        name: "Update Children: ${{ github.event.inputs.slug || 'all' }}"

        steps:
            - uses: actions/checkout@v4

            - uses: ./.github/actions/load-sops-secrets
              with:
                age_key: ${{ secrets.SOPS_AGE_KEY }}

            - uses: actions/setup-go@v5
              with:
                  go-version: 1.22.3
                  cache: true

            - run: go mod download

            - run: go build -o main cmd/main/main.go

            - name: Run the program
              run: |
                  ./main refresh-child-contracts \
                    --prod=true